/* Genaral Setting */
* {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}
/* End of Genaral Setting */

/* Container */
.container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  width: 100%;
}
/* End of Container */

/* Sidebar */
nav.sidebar {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/ep_naturalblack.png");
  display: grid;
  grid-template-rows: 2fr 2fr 10fr;
  height: 100vh;
  position: sticky;
  top: 0;
}

.toggleMenu {
  display: none;
}
/* End of Sidebar */

/* Logo and  Name */
header.logo {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  place-items: center;
}
span.name {
  font-size: 1.31em;
}
span.image img {
  height: 70px;
  width: 70px;
}

.toggles {
  padding-left: 94%;
  height: 10%;
}

.toggles .bx {
  font-size: 50px;
  color: yellow;
}

/* Social Media Icon */
.icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: white 10px inset;
}

.icon-social i {
  font-size: 25px;
  box-shadow: 5px 5px 5px white;
}

/* End of Social Media Icon */

/* Menu */
.menu {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  place-content: center;
  width: 100%;
  gap: 10px;
}

.menu-link a {
  border: yellow;
  display: grid;
  color: black;
  grid-template-columns: 1fr 8fr;
  place-content: center;
  place-items: start center;
  background-color: black;
  font-size: 1.2em;
  width: 100%;
  height: 30px;
  border-radius: 40px;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/gravel.png");
  padding: 5px;
  gap: 10px;
  text-decoration: none;
  box-shadow: 5px 10px black;
}

.contentMenu,
.menu-link .bx,
.menu-link .bi {
  color: black;
}
/* End of Menu */

/* Content */
.contain-isi {
  border-left: 15px double white;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/darkness.png");
  padding-right: 20px;
}

.contain-isi-home {
  height: 100vh;
  font-size: 2.5em;
  text-align: center;
  padding: 250px;
}
/* End of Content */

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 3fr;
  }
  nav.sidebar {
    grid-template-rows: 2fr 2fr 20fr;
  }

  header.logo {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    place-items: center;
  }

  span.name {
    display: none;
  }
  .icon-social {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-items: center;
  }
  .icon-social i {
    flex: 0 0 calc(33.33% - 10px); /* Setiap item akan memiliki lebar 33.33% (dengan sedikit ruang di antara) */
    margin: 5px; /* Sedikit jarak di antara item */
    box-sizing: border-box; /* Memastikan padding tidak mempengaruhi lebar item */
    color: rgb(84, 84, 231);
    font-size: 1.5em;
  }
  .contentMenu {
    display: none;
  }
  .menu i {
    font-size: 1.5em;
  }
  .menu-link a {
    grid-template-columns: 1fr;
    gap: 90px;
  }

  .contain-isi-home {
    font-size: 1.5em;
    padding: 200px 10px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "toggle"
      "container";
  }

  .contain-isi {
    grid-area: container;
  }
  .contain-isi-home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .toggleMenu {
    grid-area: toggle;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 20px;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/darkness.png");
  }

  .toggleMenu span {
    color: black;
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
  }

  nav.sidebar {
    width: 70%;
    position: absolute;
    display: grid;
    border: 5px solid white;
    top: 50px;
    transform: translateX(-400%);
  }
  .slide {
    transform: translateX(0);
  }
  .menu-link a {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
  }
  .contentMenu {
    display: block;
  }

  .icon-social {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    justify-content: space-evenly;
  }

  .hidden {
    opacity: 0;
  }
}
