{% load static %}
<nav class="sidebar">
  <header class="logo">
    <span class="image"> <img src="{% static 'img/logo.png' %}" alt="logoxx" /></span>

    <span class="name">Achmad Irfan Afandi</span>
  </header>
  <div class="toggles"><i class="bx bxs-right-arrow toggle"></i></div>

  <div class="icon">
    <div class="icon-social">
      <a href="https://www.linkedin.com/in/achmad-irfan-afandi-9661131a6/">
        <i class="bi bi-linkedin bi-lg custom-icon"></i>
      </a>
      <a href="https://github.com/achmad-irfan">
        <i class="bi bi-github bi-lg custom-icon"></i>
      </a>
      <a href="https://www.facebook.com/achmad.irfan.754">
        <i class="bi bi-facebook bi-lg custom-icon"></i>
      </a>
      <a href="https://www.facebook.com/achmad.irfan.754">
        <i class="bi bi-twitter bi-lg custom-icon"></i>
      </a>
      <a href="https://www.facebook.com/achmad.irfan.754">
        <i class="bi bi-instagram bi-lg custom-icon"></i>
      </a>
    </div>
  </div>
</nav>
